body{
  background-color:#82bacf;
}
div{
  background-color:#ffffff;
}
#page-1-image{animation:fade-in 5s;
              {
                0%{
opacity: 0;
             }
100%{
opacity:1;
}
}
@-webkit-keyframes fades-in
